extends layout

block content
  h1= title
  p Plataforma da Direção-Geral do Livro, dos Arquivos e das Bibliotecas para disponibilizar informação, orientações e ferramentas que facilitem e normalizem as práticas de classificação e avaliação da informação pública. Esta plataforma destina-se a entidades da Administração Pública, a empresas públicas e a outras entidades de Portugal Continental e permite a interação entre estas e a DGLAB. É igualmente destinada ao cidadão, particularmente através da disponibilização do catálogo de processos de negócio da Administração Pública, que integra a Lista Consolidada.

  p
   a(href='/classes') Classes Nível 1

  p 
   a(href='/termos') Termos de Índice
